fastapi
uvicorn
python-dotenv
pydantic
aiosqlite
httpx
passlib[bcrypt]
python-jose[cryptography]
bcrypt
pyttsx3
SpeechRecognition
pyaudio
websockets
psutil
pyautogui
pygetwindow
pycaw
comtypes
screen-brightness-control
pywin32
pyperclip
